body{
    height: 100vh;
}
#app{
    height: 100%;
    
}
.container{
    height: 100%;
    background-color: #009688;
    background: linear-gradient(
        180deg,
        #009688 16%,
        #dbdbd3 16%
    );
}
.row{
    background-color: #eaeaea;
    height: 92%;
    width: 86%;
}

img{
    height: 50px;
    border-radius: 50%;
}
/* COLONNA SINISTRA */
#col-left{
    background-color: #ffffff;
    padding: 0;

}

#profilo-utente{
    background-color: #eaeaea;
    height: calc(100% / 20 * 2);
    border-right: 1px solid rgb(209, 209, 209);

}

#notifiche-on-off{
    background-color: #8edafc;
    height: calc(100% / 20 * 2);
}

.fa-bell-slash{
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    margin: 0 1rem;
    
}

#notifiche-on-off a{
    color: grey;
}

#barra-ricerca{
    background-color:#fafafa;
    height: calc(100% / 20 * 1);
    position: relative;
}

#barra-ricerca input{
    width: 100%;
    padding-left: 2.5rem; /* spazio per l'icona */
    box-sizing: border-box;
    background-color: #ffffff;
}

#barra-ricerca .fa-magnifying-glass{
    position: absolute;
    top: 50%;
    left: 15px; /* distanza dal bordo sinistro */
    transform: translateY(-50%);
    color: #ccc; /* colore dell'icona */
}

#barra-cerca-utente{
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 0 5px;
}

#contatti{
    background-color: #ffffff;
    height: calc(100% / 20 * 15);
}

/* COLONNA DESTRA */
#col-right{
    background-color: #e5ddd5;
    padding: 0;

}

#contatto-attivo{
    background-color: #eaeaea;
    height: calc(100% / 20 * 2);
}

#messaggistica{
    background-image: url("../img/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    height: calc(100% / 20 * 16);
}

#barra-inserimento{
    background-color: #f3eeea;
    height: calc(100% / 20 * 2);
}

#barra-messaggio{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0 1rem;
}

#barra-messaggio:hover{
    border: 2px solid greenyellow;
}
