body{
    height: 100vh;
}
#app{
    height: 100%;
    
}
.container{
    height: 100%;
    background-color: #009688;
    background: linear-gradient(
        180deg,
        #009688 16%,
        #dbdbd3 16%
    );
}
.row{
    background-color: #eaeaea;
    height: 92%;
    width: 86%;
}

img{
    height: 50px;
    border-radius: 50%;
}
/* COLONNA SINISTRA */
#col-left{
    background-color: #ffffff;
    padding: 0;

}

#profilo-utente{
    background-color: #eaeaea;
    height: calc(100% / 20 * 2);

}

#notifiche-on-off{
    background-color: #8edafc;
    height: calc(100% / 20 * 2);
}

.fa-bell-slash{
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
    margin: 0 1rem;
    
}

#notifiche-on-off a{
    color: grey;
}

#barra-ricerca{
    background-color:#fafafa;
    height: calc(100% / 20 * 1);
}

#contatti{
    background-color: #ffffff;
    height: calc(100% / 20 * 15);
}

/* COLONNA DESTRA */
#col-right{
    background-color: #e5ddd5;
    padding: 0;

}

#contatto-attivo{
    background-color: #eaeaea;
    height: calc(100% / 20 * 2);
}

#messaggistica{
    background-image: ;
    height: calc(100% / 20 * 16);
}

#barra-inserimento{
    background-color: #f3eeea;
    height: calc(100% / 20 * 2);
}

#barra-messaggio{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0 1rem;
}

#barra-messaggio:hover{
    border: 2px solid greenyellow;
}
