<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>

    <!-- Link BOOTSTRAP -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <!-- Link FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LINK CSS STYLE -->
    <link rel="stylesheet" href="css/style.css">
    <!-- LINK CSS LIBRARY -->
    <link rel="stylesheet" href="css/MyLibrary.css">
    <!-- LINK JS LIBRARY -->
    <script src="js/MyLibrary.js"></script>
    <!-- LINK VUE LAST VERSION -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container d-flex justify-center align-items-center">
            <div class="row">
                <!-- LEFT -->
                <div id="col-left" class="col-lg-4 col-md-4 col-sm-4">
                    <!-- UTENTE -->
                    <div id="profilo-utente">
                        <div class="float-left h-100 d-flex align-items-center">
                            <img :src="user.image" alt="User Image" class="gap-item">
                            <span class="gap-item">{{ user.name }}</span>
                        </div>
                        <div class="float-right h-100 d-flex align-items-center">
                            <i class="fa-solid fa-circle-notch gap-item pointer"></i>
                            <i class="fa-solid fa-message gap-item pointer"></i>
                            <i class="fa-solid fa-ellipsis-vertical gap-item pointer"></i>
                        </div>
                    </div>
                    <!-- NOTIFICHE -->
                    <div id="notifiche-on-off" class="d-flex justify-start align-items-center" @click="toggleNotifications">
                        <i :class="notificationsEnabled ? 'fa-solid fa-bell f-size-1rem p-2 pointer' : 'fa-solid fa-bell-slash f-size-1rem p-2 pointer'"></i>
                        <div>
                            <div class="f-size-0-75rem pointer">Ricevi notifiche di nuovi messaggi</div>
                            <a href="#" class="f-size-0-75rem">{{ notificationsEnabled ? 'Disattiva notifiche desktop' : 'Attiva notifiche desktop' }}</a>
                        </div>
                    </div>
                    <!-- BARRA RICERCA -->
                    <div id="barra-ricerca" class="d-flex align-items-center h-100">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" name="" id="barra-cerca-utente" class="w-100 h-70" placeholder="Cerca o inizia una nuova chat" v-model="searchQuery">
                    </div>
                    <!-- CONTATTI -->
                    <div id="contatti">
                        <div v-for="contact in filteredContacts" @click="switchContact(contact)" class="contatto d-flex mt-1 ml-2 pointer">
                            <img :src="contact.image" alt="Contact Image" class="gap-item">
                            <div>
                                <div class="f-bold mt-2">{{ contact.name }}</div>
                                <span class="f-size-75">{{ contact.lastMessage }}</span>
                                <div class="f-size-75">{{ contact.lastMessageTime }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- RIGHT -->
                <div id="col-right" class="col-lg-8 col-md-8 col-sm-8">
                    <!-- CONTATTO ATTIVO -->
                    <div v-if="activeContact" id="contatto-attivo">
                        <div class="float-left h-100 d-flex align-items-center">
                            <img :src="activeContact.image" alt="Active Contact Image" class="gap-item">
                            <span class="gap-item">{{ activeContact.name }}</span>
                        </div>
                        <div class="float-right h-100 d-flex align-items-center">
                            <i class="fa-solid fa-magnifying-glass gap-item pointer"></i>
                            <i class="fa-solid fa-paperclip gap-item pointer"></i>
                            <i class="fa-solid fa-ellipsis-vertical gap-item pointer"></i>
                        </div>
                    </div>
                    <!-- SCHERMATA MESSAGGI -->
                    <div id="messaggistica">
                        <div v-for="(message, index) in getMessages()" :class="{'d-flex justify-end': message.sender === 'user', 'd-flex justify-start': message.sender === 'contact'}" class="message-container" @contextmenu.prevent>
                            <div :class="message.sender === 'user' ? 'message-user' : 'message-contact'" class="d-flex align-items-center pos-relative">
                                {{ message.content }} 
                                <span :class="message.sender === 'user' ? 'orario-messaggio-utente f-size-50' : 'orario-messaggio-contatto f-size-50'">{{ message.time }}</span>
                                <!-- Aggiungi la "x" per la cancellazione -->
                                <span class="delete-message" @click="confirmDeleteMessage(index)">&#10006;</span>
                            </div>
                        </div>
                    </div>
                    <!-- BARRA DI INSERIMENTO NUOVI MESSAGGI -->
                    <div v-if="activeContact" id="barra-inserimento" class="d-flex">
                        <div class="col-lg-1 col-md-1 col-sm-1 h-100 d-flex justify-center align-items-center">
                            <i class="fa-regular fa-smile f-size-2rem pointer"></i>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 h-100 d-flex justify-center align-items-center">
                            <input type="text" id="barra-messaggio" v-model="newMessage" @keyup.enter="sendMessage" class="h-70 w-100 pointer f-size-1-5rem" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 h-100 d-flex justify-center align-items-center">
                            <i class="fa-solid fa-microphone f-size-2rem pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LINK JS LIBRARY -->
    <!-- <script src="js/MyLibrary.js"></script> -->
    <!-- LINK JS MAIN -->
    <script src="js/main.js"></script>
</body>
</html>
